@media (max-width: 1450px){
    .footer__left{
        display: flex;
        justify-content: space-between;
        gap: 200px;
    }
}
@media (max-width: 1300px) {
    .shop__product__title {
        font-size: 18px;
    }
    .shop__product {
        padding: 10px 20px;
    }
}
@media (max-width: 1230px) {
    .text__list--about {
        padding-right: 0;
    }
}
@media (max-width: 1220px){
    .form {
        gap: 40px;
    }
    .form__side {
        width: calc(100% / 2 - 20px);
    }
}
@media (max-width: 1205px){
    .light{
        top: 74.5%;
        right: 63.4%;
        animation: light1205 linear 5s infinite;
    }
    @keyframes light1205 {
        0% {
            top: 74%;
            right: 41%;
        }
        10% {
            top: 72.5%;
            right: 44%;
        }
        20% {
            top: 66.5%;
            right: 47%;
        }
        30% {
            top: 60.5%;
            right: 49%;
        }
        40% {
            top: 51.5%;
            right: 51.7%;
        }
        50% {
            top: 61%;
            right: 54.3%;
        }
        60% {
            top: 66%;
            right: 56.3%;
        }
        70% {
            top: 72%;
            right: 59.4%;
        }
        80% {
            top: 74.5%;
            right: 63.4%;
        }
        90% {
            top: 73.9%;
            right: 67.4%;
        }
        100% {
            top: 70.9%;
            right: 70%;
        }
    }
    .footer_anim:before {
        width: 22%;
        height: 74%;
        top: 48px;
        left: 77px;
    }
    .sun,
    .footer__arr{
        scale: 0.8;
    }
}
@media (max-width: 1200px){
    .swiper-button-next, .swiper-button-prev {
        top: 110px;
    }
    .career__img {
        width: 40%;
    }
}
@media (max-width: 1100px){
    .projects-page {
        /*padding-top: 20px;*/
    }
    .projects-page__wrapper {
        margin-top: 50px;
    }
    .shop__product {
        width: calc(100% / 2 - 25px);
    }
}
@media(max-width: 1090px){
    .text__title {
        font-size: 28px;
    }
    .text__item {
        font-size: 18px;
    }
    .about__img {
        width: 35%;
    }

}
@media (max-width: 1020px){
    .footer__left{
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }
    .footer__wrapper>.container{
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }
    .footer__wrapper{
        padding-top: 20px;
    }
}
@media (max-width: 1000px) {
    .nav-bar {
        width: 70%;
    }
    .nav-bar__social, .nav-bar__tel, .nav-bar__menu, .language {
        gap: 15px;
    }
    .logo>svg{
        width: 85%;
    }
    .nav-bar__wrapper {
        gap: 10px;
    }
    .swiper--banner {
        height: 55%;
    }
    .services__img {
        width: 15%;
    }
    .services__content {
        gap: 50px;
    }
    .sun,
    .footer__arr{
        scale: 0.65;
    }
    .light{
        top: 70.9%;
        right: 70%;
        animation: light1000 linear 5s infinite;
    }
    @keyframes light1000 {
        0% {
            top: 74%;
            right: 41%;
        }
        10% {
            top: 72.5%;
            right: 44%;
        }
        20% {
            top: 66.5%;
            right: 47%;
        }
        30% {
            top: 60.5%;
            right: 49%;
        }
        40% {
            top: 53%;
            right: 51.7%;
        }
        50% {
            top: 63%;
            right: 54.3%;
        }
        60% {
            top: 68%;
            right: 56.3%;
        }
        70% {
            top: 72%;
            right: 59.4%;
        }
        80% {
            top: 74.5%;
            right: 63.4%;
        }
        90% {
            top: 73.9%;
            right: 67.4%;
        }
        100% {
            top: 70.9%;
            right: 70%;
        }
    }
    .footer_anim:before {
        width: 19%;
    }
    .contact_page__content {
        gap: 60px;
    }
    .contact_page__content__side {
        width: calc(100% / 2 - 60px);
    }
}
@media (max-width: 990px) {
    .swiper-button-next, .swiper-button-prev {
        top: 90px;
    }
}
@media (max-width: 950px){

}
@media(max-width: 920px){
    .text__item:before {
        left: -25px;
        scale: 0.7;
    }
    .about__content {
        gap: 50px;
    }
    .text__title {
        font-size: 24px;
        margin-bottom: 40px;
    }
    .text__item {
        font-size: 16px;
    }
}
@media (max-width: 880px){
    .shop__product__title {
        font-size: 16px;
    }
    .sidebar__list__item--title {
        font-size: 18px;
    }
    .sidebar__category__link {
        font-size: 16px;
    }
    .sidebar__list__item {
        padding: 15px 20px;
    }
}
@media (max-width: 850px) {
    .nav-bar__menu__link {
        font-size: 16px;
        font-weight: 600;
    }
    .nav-bar__contact {
        gap: 40px;
    }
    .nav-bar__tel__link {
        font-weight: 500;
        font-size: 14px;
    }
    .language__link {
        font-weight: 700;
        font-size: 20px;
    }
    .logo>svg{
        width: 75%;
    }
    .career__content {
        gap: 80px;
    }
    .shop__product {
        width: 100%;
    }
}
@media (min-width: 781px) {
    .nav-bar__item:hover .nav-bar__submenu{
        min-width: 200px;
        top: 36px;
        opacity: 1;
        visibility: visible;
    }
}
@media (max-width: 780px){
    .nav-bar {
        width: 50%;
        flex-direction: row-reverse;
    }
    .nav-bar__wrapper {
        transform: translateX(100%);
        pointer-events: none;
        position: absolute;
        top: 47px;
        width: 100vw;
        height: 65dvh;
        left: 0;
        padding: 20px 15px;
        z-index: 99;
        background: var(--white);
        text-align: center;
        transition: all .5s ease-in-out;
        flex-direction: column-reverse;
        border: 1px var(--grey-light) solid;
        border-radius: 3px;
        min-height: fit-content;
        justify-content: space-between;
        box-shadow: 0 16px 20px 10px rgba(0, 0, 0, 0.35);
    }
    .nav-bar__submenu--active{
        opacity: 1;
        visibility: visible;
    }
    .nav-bar__wrapper.is-active {
        pointer-events: initial;
        right: 0;
        transform: translateX(-50%);
    }
    .nav-bar__submenu {
        width: 100%;
        background: var(--white);
        top: 46px;
        box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.2);
        gap: 15px;
        padding: 15px 20px;
    }

    .nav-bar__submenu__item{
        text-align: left;
    }
    .menu_arrow--mobile{
        display: block;
        margin-right: 20px;
        transition: all .4s ease-in-out;
    }
    .nav-bar__item__btn{
        display: flex;
    }
    .menu_button,
    .menu_button span{
        display: inline-block;
    }
    .nav-bar__menu{
        flex-direction: column;
        gap: 20px;
        height: 100%;
    }
    .nav-bar__menu__link {
        display: block;
        text-align: left;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        padding: 8px 0;
    }
    .nav-bar__submenu__link {
        font-size: 18px;
        padding: 8px 0;
    }
    .nav-bar__wrapper {
        padding: 20px;
    }
    .nav-bar__menu .effect_line{
        padding-left: 12px;
        border-bottom: 1px solid var(--grey);
    }


    .nav-bar__contact {
        flex-direction: column-reverse;
        gap: 10px;
        align-items: flex-end;
        padding: 5px 10px;
        background-color: var(--grey-light);
        border-radius: 3px;
    }
    .nav-bar__tel{
        flex-direction: column;
        gap: 5px;
    }
    .container{
        padding: 0 40px;
    }
    .banner__title {
        font-size: 36px;
    }
    .about__content {
        flex-direction: column;
        align-items: start;
    }
    .about__img {
        width: 70%;
    }
    .services__img,
    .career__img,
    .banner-page{
        display: none;
    }
    .services__img--mobile,
    .career__img--mobile,
    .banner-page--mobile{
        display: block;
        width: 100%;
    }
    .services__content{
        flex-direction: column;
    }
    .swiper-button-next, .swiper-button-prev {
        top: 140px;
    }
    .career__content {
        flex-direction: column;
        gap: 40px;
    }
    .career__img {
        width: 100%;
    }
    .career__wrapper {
        position: relative;
        padding-bottom: 50px;
        margin-bottom: 70px;
    }
    .career__wrapper:after {
        width: 100%;
    }

    .section__title1--form {
        padding: 10px 25px;
        font-size: 20px;
    }
    .sun,
    .footer__arr{
        scale: 0.4;
    }
    .light{
        top: 65%;
        right: 54.3%;
        animation: light780 linear 5s infinite;
    }
    @keyframes light780 {
        0% {
            top: 74%;
            right: 40%;
        }
        10% {
            top: 72.5%;
            right: 44%;
        }
        20% {
            top: 66.5%;
            right: 47%;
        }
        30% {
            top: 60.5%;
            right: 49%;
        }
        40% {
            top: 56%;
            right: 51%;
        }
        50% {
            top: 65%;
            right: 54.3%;
        }
        60% {
            top: 69%;
            right: 56.3%;
        }
        70% {
            top: 73%;
            right: 59.4%;
        }
        80% {
            top: 74.5%;
            right: 63.4%;
        }
        90% {
            top: 73.9%;
            right: 67.4%;
        }
        100% {
            top: 70.9%;
            right: 70%;
        }
    }
    .footer_anim:before {
        left: 56px;
    }

    .footer__wrapper>.container {
        flex-direction: column-reverse;
        gap: 45px;
    }
    .projects-page__project {
        gap: 60px;
        padding-bottom: 60px;
    }
    .projects-page__project__img{
        width: 35%;
    }
    .swiperProjectPage {
        height: 300px;
        width: 100%;
    }
    .swiperProjectPage--thumb {
        height: 300px;
        width: 25%;
        box-sizing: border-box;
    }
    .swiperProjectPage--thumb .swiper-slide {
        height: 60px;
    }
}
@media(max-width: 700px){
    .contact_page__content {
        flex-direction: column;
    }
    .contact_page__content__side {
        width: 100%;
    }

}
@media(max-width: 650px){
    .section__title1 {
        width: 100%;
        padding: 15px 25px;
        font-size: 32px;
        margin-bottom: 65px;
        white-space: nowrap;
    }
    .about__wrapper {
        padding-bottom: 40px;
        margin-bottom: 60px;
    }
    .banner {
        height: 100dvh;
        display: flex;
        flex-direction: column;
    }
    .form {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: column;
    }
    .form__side {
        max-width: 100%;
        width: 100%;
    }
    .form__side--area{
        display: none;
    }
    .textarea--mobile{
        display: block;
    }
    .textarea {
        padding: 7px 10px 10px 7px;
    }
    .banner__wrapper:after, .about__wrapper:after, .projects__wrapper:after, .career__wrapper:after, .projects-page__project:after {
        width: 65%;
    }

}
@media (max-width: 600px){
    .sun,
    .footer__arr{
        scale: 0.35;
    }
    .sun{
        right: 19%;
    }
    .light{
        top: 56%;
        right: 51%;
        scale: 0.7;
        animation: light600 linear 5s infinite;
    }
    @keyframes light600 {
        0% {
            top: 74%;
            right: 40%;
        }
        10% {
            top: 72.5%;
            right: 44%;
        }
        20% {
            top: 66.5%;
            right: 47%;
        }
        30% {
            top: 60.5%;
            right: 49%;
        }
        40% {
            top: 58.5%;
            right: 51%;
        }
        50% {
            top: 66%;
            right: 54.3%;
        }
        60% {
            top: 70%;
            right: 56.3%;
        }
        70% {
            top: 74.5%;
            right: 59.4%;
        }
        80% {
            top: 75.5%;
            right: 63.4%;
        }
        90% {
            top: 74.3%;
            right: 67.4%;
        }
        100% {
            top: 71.5%;
            right: 70%;
        }
    }
    .footer_anim:before {
        width: 18%;
        height: 49%;
        left: 50px;
        top: 68px;
    }


}
@media (max-width: 585px) {
    .swiper-button-next, .swiper-button-prev {
        top: 105px;
    }
    .section__title2 {
        font-size: 40px;
    }
    .text__item--not-list{
        font-size: 14px;
    }
    .contacts-page__svg {
        min-width: 30px;
        max-width: 30px;
    }
    .contact_page__content__side__block {
        gap: 20px;
    }
    .shop__wrapper {
        flex-direction: column;
    }
    .sidebar__list {
        min-width: 100%;
    }
}
@media (max-width: 558px) {

    .projects-page__project {
        gap: 30px;
        flex-direction: column;
    }
    .projects-page__project__img {
        width: 70%;
    }
    .section__title1--project-page {
        font-size: 28px;
    }
    .text__title {
        font-size: 22px;
        margin-bottom: 40px;
    }
    .container--header {
        padding: 8px 10px;
    }
    .text__title--projects-page{
        display: none;
    }
    .text__title--projects-page--mobile{
        display: block;
        margin-bottom: 15px;
    }
    .about__img {
        width: 100%;
        max-width: 100%;
    }
    .section__title2 {
        margin-bottom: 40px;
    }
}

@media (max-width: 500px) {
    .banner__title {
        font-size: 32px;
    }
    .container{
        padding: 0 20px;
    }
    .contact_page {
        height: 100dvh;
    }
    .contact_page__content {
        margin-bottom: 50px;
        padding-bottom: 30px;
    }
    .contact_page__content__side__block__text {
        gap: 5px;
    }
    .contact_page__content__side {
        gap: 20px;
    }
    .projects-page__project__text {
        gap: 20px;
    }
    .contact_page__content {
        gap: 30px;
    }
    .contact_page__content__side--map{
        height: 280px;
    }
    .nav-bar__wrapper {
        top: 45px;
    }



}
@media(max-width: 440px){
    .nav-bar__wrapper {
        top: 48px;
    }
    .banner {
        height: 100dvh;
        display: flex;
        flex-direction: column;
    }
    .nav-bar__submenu__link {
        font-size: 18px;
        white-space: normal;
    }

}
@media (max-width: 429px){
    .sun,
    .footer__arr{
        scale: 0.35;
    }
    .sun{
        top: -14px;
        right: 15%;
    }
    .light{
        top: 71.5%;
        right: 70%;
        scale: 0.5;
        animation: light430 linear 5s infinite;
    }
    @keyframes light430 {
        0% {
            top: 75%;
            right: 40%;
        }
        10% {
            top: 72.5%;
            right: 44%;
        }
        20% {
            top: 66.5%;
            right: 47%;
        }
        30% {
            top: 60.5%;
            right: 49%;
        }
        40% {
            top: 64.5%;
            right: 51%;
        }
        50% {
            top: 70%;
            right: 54.3%;
        }
        60% {
            top: 73%;
            right: 56.3%;
        }
        70% {
            top: 75.5%;
            right: 59.4%;
        }
        80% {
            top: 75.5%;
            right: 63.4%;
        }
        90% {
            top: 74.3%;
            right: 66.4%;
        }
        100% {
            top: 71.5%;
            right: 69%;
        }
    }
    .footer_anim:before {
        width: 12%;
        height: 37%;
        left: 49px;
        top: 68px;
    }
    .nav-bar__wrapper {
        top: 44px;
    }
}

@media (max-width: 420px) {
    .swiper-button-next, .swiper-button-prev {
        top: 80px;
    }
}
@media (max-width: 376px) {
    .nav-bar__wrapper.is-active {
        transform: translateX(-53%);
        top: 48px;
    }
}