/*banner*/
.swiper--banner{
    width: calc(100% - 3px);
    height: 50%;
    margin: 0 auto 60px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*banner end*/
/*projects*/
.swiper--projects{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1480px;
    width: 100%;
    height: auto;
    position: relative;
}
.swiper-pagination-bullet-active {
    background: var(--orange);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: url("../img/arr.svg");
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: url("../img/arr1.svg");
}
.swiper-button-next,
.swiper-button-prev{
    top: 145px;
    transition: all .3s ease-in-out;
}
.swiper-button-next:hover{
    transform: scale(1.3) translate(5px, -2px);
}
.swiper-button-prev:hover{
    transform: scale(1.3) translate(-5px, -2px);
}
.swiper--projects__title{
    transition: all .3s ease-in-out;
}
.swiper--projects__link:hover .swiper--projects__title{
    background-color: var(--orange);
    color: var(--white);
}

/*projects end*/




/*project-page*/

/*project-page end*/